---
title: Blog
---

<h3>Latest Posts</h3>

<div id="blog">
  <ul>
    {% for post in site.posts %}
    <li>
      <div class="post">
        <a href="{{ post.url }}">
          <div class="heading">{{ post.title }}</div>
          <div class="sub-script">
            Posted on {{post.date | date_to_string}} · 
            {% for c in post.categories%} 
              {% assign category = site.categories | where: 'alias', c | first %} 
              {% if category%}
                <a href="{{category.url}}"><span class="category">{{category.title}}</span></a>&nbsp;
              {% endif%} 
            {% endfor %}
          </div>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>