---
title: Home (Beta)
---
Hi, I am <b>Shivam</b>.
<br><br>
I have 6+ years of experience in <b>software engineering</b>.<br>
I help startups in <b>building scalable</b> and <b>highly available</b> distributed <b>web servers</b>.<br>
Currently I am working as a consultant in <b><a class="black_link" href="www.tarkalabs.com">Tarka Labs</a></b>. I am acquiring proficiency in harnessing artificial intelligence and machine learning techniques to develop resilient and intelligent applications tailored to meet clients' needs. 
<br><br>
{%include skills.html%}
{%include professional_links.html%}