<h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">
  Latest Blog Posts
</h2>
<div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
  {% for post in site.posts limit:3 %}
    {% if post.external_link %}
    <a href="{{ post.external_link }}" target="_blank">
    {% else %}
    <a href="{{ post.url }}" target="_blank">
    {% endif %}
      <div class="flex flex-1 gap-3 rounded border border-[#684831] bg-[#342418] p-4 flex-col">
        <div class="flex flex-col gap-1">
            <h2 class="text-white text-base font-bold leading-tight">{{post.title}}</h2>
            <p class="text-[#cba990] text-sm font-normal leading-normal">Published on {{post.date | date_to_string}}</p>
        </div>
      </div>
    </a>
  {% endfor%}
</div>
