body {
    font-family: sans-serif;
    padding: 2vw;
}
nav {
    font-size: 1.4vw;
    text-align: center;
}
nav a {
    margin-right: 11px;
    color: black;
    text-decoration: revert;
}
nav a.current{
    color: grey;
    font-style: italic;
}
.content {
    padding: 1vw 17vw;
}
.comming_soon {
    text-align: center;
}
.content a{
    text-decoration: revert;
    color: black;
    font-style: italic;
}

#skills ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
}

#skills ul li{
    margin-bottom: 4px;
}
#skills li i{
    font-size: 0.85em;
    font-weight: 600;
}