<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{page.title}}</title>
  <link rel="stylesheet" href="/assets/css/styles.css" />
  {% if site.favicon %}
  <link rel="icon" type="image/x-icon" href="{{ site.favicon | relative_url }}">
  {% endif %}
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y39ERFDVPT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y39ERFDVPT');
</script>

<body>
  {% include navigation.html %}
  <div class="page-content">
    <div class="content">{{content}}</div>
  </div>

  {% include footer.html%}
</body>

</html>